@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');


.work-sans-font{
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

/*share style */
.display-flex{
    display: flex;
}

/*dark 02 */
.text-gray{
    color: #424242;
}

/*dark03*/
.text-light-gray{
    color: #727272;
}
.bg-light{
    background-color:rgba(255, 144, 14, 0.1);
}
.btn-primary{
    background-color:rgba(255, 144, 14, 1) ;
    color: white;
    padding: 20px 25px;
    font-size:1.25rem;
    font-weight: 600;
    border-radius: 8px;
    border: none;
}
.btn-primary{
    margin-bottom: 20px;
}
.main{
    width: 1440px;
    height: 0 auto;
}
/* header styles */
main{
    max-width: 1440px;
    height: 0px auto;
}

/*navbar related style */
.navbar{
    justify-content: space-between;
    align-items: center;
}

.brand{
    font-weight: 700;
    font-size:3rem;
}
.nav-item{
    list-style: none;
    margin-right: 30px;
}
.nav-link{
    text-decoration: none;
    font-weight: 500;
    
}
.navbar, banner{
    max-width: 1440px;
    margin: 0 auto;

}

/*banner related style*/
.banner-contain{
    max-width: 850px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 50px;
}
.banner-title{
    font-weight: 700;
    font-size: 4rem;
}
.banner-image{
    width: 100%;
    
}
/**team images and team title style**/
.team-img-container{
    display: grid;
    grid-template-columns: repeat(2,0.50fr);
    gap: 1rem;
}

.our-featurses{
    height: 304px;
    width: 437px;

    margin-top: 201px;
    margin-left: 73px;
    
}
.team{
    justify-content: center;
}
/**architec style**/
.font-size{
    font-size: 40px;
}
.architec{
    margin-top: 231px;
    border:2px solid bisque;
}
.architec-img{
    width: 680px;
    height: 800px;
}
.architec-items{
    border: 1px solid wheat;
    background-color: rgb(253, 253, 253);
    padding: 10px;
    margin: 20px 0px;
    border-radius: 5px;
}
.architec-parent{
   padding: 0px 30px;
}
.bnt-year{
    position: relative;
    bottom: 65px;
    left: -60px;
    background-color:rgba(255, 144, 14, 1);
    color: white;
    border: none;
    border-radius: 5px;
    text-align: center;
}
/**container-icon style**/
.header{
    margin-left:20px ;
}
.container-icon{
    justify-content:space-between;
    justify-items: center;
    margin: 0px 50px;
}
.icon{
    height: 241px;
    width: 241px;
    border: 2px solid rgb(255, 221, 0);
    text-align: center;
    padding-top:30px;
    background-color:white;
    gap: 5px;
    border-radius: 5px;
    box-shadow: 5px 6px 25px 5px black;

    
}
/** logo style**/

.sponser-title{
    width: 442px;
    height: 129px;
    text-align: center;
    margin-top: 70px;
    margin-left: 460px;
}  
.sponser-image{
    justify-content: space-between;
    
    
    margin-left: 200px;
}
.apnsr-image{
    height: 150xp;
    width: 150px;
    
    margin-right:50px ;
    justify-content: space-between;

}
.footer{
    height: 50px;
    width: 1490px;
    background-color: antiquewhite;
    margin-left: 25px;
}
.lastpera{
    text-align: center;
    justify-content: center;
    display: flex;
}
/*responsive media query*/
@media screen and (max-width:576px){
     .navbar,
     .nav-link,
     .team,
     .container-icon,
     .architec{
        flex-direction: column;
    }
    .bnt{
        width: ;
        height: ;
    }
    .team-img-container{
        grid-template-columns: repeat(1,1fr);
        margin-left: 20px;
    }

    .architec-parent, .bnt{
        flex-direction: column;
    }

    .justify-content{
        flex-direction: column;
    }

    .sponser-image{
        grid-template-columns: repeat(1,1fr);
    }
}



